@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
.oxygen {
  font-family: 'Oxygen', sans-serif !important;
  font-weight: 400;
  letter-spacing: 0.08em;
  word-spacing: 0.09em;
}
.raleway {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.bold {
  font-weight: 700 !important;
  letter-spacing: 0.05em;
}
.glyphicon {
  color: #ffffff;
}
body {
  background-color: #EFEFEF !important;
  font-family: 'Oxygen', sans-serif !important;
  font-weight: 400;
  letter-spacing: 0.08em;
  word-spacing: 0.09em;
}
#content {
  margin-top: 25px;
}
.navbar {
  padding: 1em 0 1em 0;
}
.menu {
  position: relative;
  float: right;
  padding-top: 4em;
  text-align: right;
}
.menu li {
  display: inline;
  font-size: 0.8em;
  margin-top: 3em;
}
.menu li a {
  background-color: rgba(0, 0, 0, 0.01);
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 0.75em;
  margin: 0 0.3em 0 0.3em;
  color: #ffffff;
}
.menu li a.link {
  background-color: rgba(81, 137, 167, 0.15);
}
.menu li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
.menu li a:active {
  background-color: rgba(81, 137, 167, 0.75);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
}
#carrusel .container {
  display: block;
  position: static;
  color: #ffffff;
}
#carrusel .container .carousel-caption {
  bottom: 3em;
  max-width: 700px;
}
#carrusel .container .carousel-caption h1 {
  font-size: 4em!important;
  text-align: left;
}
#carrusel .container .carousel-caption p {
  text-align: left;
}
.slide-height {
  height: 400px;
  width: 100%;
  background-size: contain !important;
  background-size: cover!important;
  background-attachment: fixed !important;
  background-position: bottom center;
}
#slide1 {
  background-image: url(../imgs/fondo2.jpg);
  height: 400px;
  width: 100%;
  background-size: contain !important;
  background-size: cover!important;
  background-attachment: fixed !important;
  background-position: bottom center;
}
#slide2 {
  background-image: url(http://placehold.it/3000x2000/a75151/fff&text=Slide+2);
  height: 400px;
  width: 100%;
  background-size: contain !important;
  background-size: cover!important;
  background-attachment: fixed !important;
  background-position: bottom center;
}
#slide3 {
  background-image: url(http://placehold.it/3000x2000/51a798/fff&text=Slide+3);
  height: 400px;
  width: 100%;
  background-size: contain !important;
  background-size: cover!important;
  background-attachment: fixed !important;
  background-position: bottom center;
}
#intro_msg {
  margin: 70px 0 70px 0;
}
#intro_msg .intro-text {
  font-size: 1.20em !important;
  margin-top: 0.5em;
  color: #696969;
}
#intro_msg .intro-text span {
  font-size: 1.2em;
}
#intro_table {
  margin: 3em 0 5em 0em;
}
#intro_table td {
  text-align: center;
  position: middle;
  margin: 0.5em 0 0 0;
}
#intro_table button {
  margin-top: -2em;
  posiion: relative;
  display: inline;
}
span {
  color: #5189a7;
  font-weight: 700;
}
.contenido {
  margin: 0 0 0 0;
  width: 1500px;
  background-color: #FEFEFE !important;
}
.boton {
  background-color: #5189a7;
  border-radius: 10px;
  padding: 1em;
  margin-top: 0.5em;
  border-width: 0.15em !important;
  color: #ffffff;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400;
  font-weight: 700 !important;
  letter-spacing: 0.05em;
  color: #ffffff !important;
}
.boton:hover {
  background-color: #406d85;
  color: #ffffff !important;
}
.padded {
  padding: 1em 2em 1em 2em!important;
}
.well {
  background-color: rgba(81, 137, 167, 0.02) !important;
  padding: 2em 1em 2em 2em !important;
}
#lower_body {
  background-color: #DCDCDC !important;
  padding: 2em 0 2em 0;
  color: #696969;
}
#lower_body .container {
  margin-top: 2em;
  margin-bottom: 2em;
}
#lower_body p {
  margin: 1.5em 0 1.5em 0;
}
#lower_body #lower_img {
  float: right;
  text-align: right;
}
#footer {
  margin-top: 0em;
  background-color: rgba(0, 0, 0, 0.8);
}
#footer .container {
  padding: 3em 0 3em 0;
  color: #999;
}
#footer .container p {
  font-size: 0.9em;
  margin-top: 1em;
}
.footer_left {
  font-size: 0.9em;
  bottom: -5px;
  left: -2em;
}
#social_footer {
  display: inline;
  position: relative;
  bottom: -5px !important;
  font-size: 0.8em;
  margin-right: 0.5em;
}
#contact {
  background-color: #000000;
  padding: 1em;
  color: #999;
}
#contact .right {
  text-align: right;
  float: right;
}
.sub-header {
  height: 120px;
  background-image: url(../imgs/fondo2.jpg);
  background-attachment: fixed !important;
  background-position: bottom right;
  background-size: contain;
  background-size: cover;
  color: #ffffff;
  padding-top: 1.75em;
}
.sub-header h1 {
  font-weight: 400;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}
.seccion {
  padding: 5em 0 5em 0;
  min-height: 350px;
  text-align: left;
}
.seccion .big {
  font-size: 1.2em;
}
.seccion h2 {
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 1em;
}
.gray {
  background-color: #e7e7e7;
}
.img-nosotros {
  width: 200px;
  height: 200px;
  margin: 3em;
  position: relative;
  text-align: center;
}
#valores {
  margin-top: 3em;
}
#valores li {
  list-style: none;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-left: -1.5em;
  margin-top: 0.5em;
}
.feature {
  padding: 10% 0 10% 0;
  min-height: 600px;
  background-color: #eee;
}
.feature img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
}
